.gigSinglePage {
    display: flex;
    transition: 0.5s all ease;
    justify-content: center;
}

.gigSingleContainer {
    display: flex;
    width: 1400px;
    justify-content: center;
}

.leftGigClass {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.rightGigClass {
    display: flex;
    flex: 1
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.starImg {
    height: 20px;
    width: 20px;
}

.userInfoImg {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.imagesSlider {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 80px
}

.sliderImage {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.sliderImage::selection {
    color: none;
    background: none;
}

.imgSliderButtonEnabled {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
}

.imgSliderButtonDisabled {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 50%;
}

.imgSliderButtonEnabled:hover {
    transform: scale(1.5);
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.imgSliderButtonDisabled:hover {
    transform: scale(1.5);
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.sellerProfilePic {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.aboutTheSeller {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.sellerDetails {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.sellerRectangle {
    margin-top: 10px;
    display: flex;
    border: 1px lightblue solid;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.from {
    display: flex;
    flex-direction: row;
    width: 100px;
}

.leftRect {
    display: flex;
    flex: 1;
    justify-content: start;
    flex-direction: column;
}

.rightRect {
    display: flex;
    flex: 1;
    justify-content: start;
    flex-direction: column;
}

.contactMeButton {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid lightblue;
    padding: 10px 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.rightGigClass {
    border: 1px solid lightblue;
    display: flex;
    height: max-content;
    margin-left: 20px;
    position: sticky;
    top: 200px;
    flex-direction: column;
    padding: 10px;
}

.titleAndPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titleAndPrice > h1 {
    font-size: 20px;
}

.titleAndPrice > span {
    font-size: 24px;
}

.deliveryAndRevisions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
}

.checksList {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    color: darkgray;
}

.continueButton {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: lightblue;
    color: white;
    font-size: inherit;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.continueButton:hover {
    background-color: white;
    color: lightblue;
    border: 1px solid lightblue;
    transition: all 200ms ease;
}

.iconCheck {
    color: green;
}